USE [master]
GO
/****** Object:  Database [MovieBookDB]    Script Date: 9/10/2024 10:47:31 AM ******/
CREATE DATABASE [MovieBookDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieBookDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MovieBookDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieBookDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MovieBookDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieBookDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieBookDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 9/10/2024 10:47:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [varchar](36) NOT NULL,
	[UserID] [varchar](36) NOT NULL,
	[MovieID] [varchar](36) NOT NULL,
	[TheatreID] [varchar](36) NOT NULL,
	[BookingDate] [datetime] NULL,
	[ShowDate] [date] NOT NULL,
	[ShowTime] [varchar](10) NOT NULL,
	[ScreenNumber] [int] NOT NULL,
	[NumberOfSeats] [int] NOT NULL,
	[Seats] [varchar](max) NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NULL,
	[PaymentMethod] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [varchar](36) NOT NULL,
	[CouponCode] [varchar](50) NOT NULL,
	[DiscountAmount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [varchar](36) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Genre] [varchar](50) NOT NULL,
	[Duration] [int] NOT NULL,
	[ReleaseDate] [date] NOT NULL,
	[Rating] [float] NULL,
	[Likes] [int] NOT NULL,
	[Description] [varchar](255) NOT NULL,
	[Casting] [varchar](100) NOT NULL,
	[Trailer] [varchar](500) NOT NULL,
	[Language] [varchar](20) NOT NULL,
	[Image] [varchar](1000) NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [varchar](36) NOT NULL,
	[BookingID] [varchar](36) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [varchar](50) NULL,
	[TransactionID] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [varchar](36) NOT NULL,
	[UserID] [varchar](36) NOT NULL,
	[MovieID] [varchar](36) NOT NULL,
	[Rating] [float] NULL,
	[Comment] [varchar](255) NULL,
	[ReviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheatreMovies]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheatreMovies](
	[TheatreMovieID] [varchar](36) NOT NULL,
	[TheatreID] [varchar](36) NOT NULL,
	[MovieID] [varchar](36) NOT NULL,
	[ScreenNumber] [int] NOT NULL,
	[ShowDate] [date] NOT NULL,
	[ShowTimes] [varchar](max) NOT NULL,
	[AvailableSeats] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TheatreMovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theatres]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theatres](
	[TheatreID] [varchar](36) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Area] [varchar](255) NOT NULL,
	[Location] [varchar](255) NOT NULL,
	[Ratings] [float] NOT NULL,
	[Screens] [int] NULL,
	[TotalSeats] [int] NOT NULL,
	[Image] [varchar](1000) NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TheatreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](36) NOT NULL,
	[FullName] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[SecurityQuestion] [varchar](200) NULL,
	[SecurityAnswer] [varchar](100) NULL,
	[Role] [varchar](10) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bookings] ([BookingID], [UserID], [MovieID], [TheatreID], [BookingDate], [ShowDate], [ShowTime], [ScreenNumber], [NumberOfSeats], [Seats], [TotalPrice], [Status], [PaymentMethod]) VALUES (N'03CBE7DC-EE9A-41A2-B733-DEE52A935647', N'EBDC2A8E-D47B-4B90-8AEE-CCDFD6272D63', N'33431C26-04FC-4350-B56E-263DE8CCA875', N'738C465F-3F3D-4EE8-AD1E-0E2D88CC79CE', CAST(N'2024-08-07T00:00:00.000' AS DateTime), CAST(N'2024-08-13' AS Date), N'7:30 PM', 4, 4, N'B1,B2,B3,B4', CAST(800.00 AS Decimal(10, 2)), N'Confirmed', N'Google Pay')
INSERT [dbo].[Bookings] ([BookingID], [UserID], [MovieID], [TheatreID], [BookingDate], [ShowDate], [ShowTime], [ScreenNumber], [NumberOfSeats], [Seats], [TotalPrice], [Status], [PaymentMethod]) VALUES (N'04393529-4142-4854-A8FC-53DDB5567528', N'2BC57594-3F0D-473E-B2D4-6829F4B8290D', N'571E608A-148B-457A-9654-043750CA6803', N'E837B32C-2F4F-4252-976C-26D2E8542B87', CAST(N'2024-08-01T00:00:00.000' AS DateTime), CAST(N'2024-08-07' AS Date), N'6:30 PM', 2, 5, N'H1,H2,H3,H4,H5', CAST(1000.00 AS Decimal(10, 2)), N'Confirmed', N'LazyPay')
INSERT [dbo].[Bookings] ([BookingID], [UserID], [MovieID], [TheatreID], [BookingDate], [ShowDate], [ShowTime], [ScreenNumber], [NumberOfSeats], [Seats], [TotalPrice], [Status], [PaymentMethod]) VALUES (N'0CEAADAD-53B2-4D9B-ACC5-7A26CD988FC3', N'B3FD5712-AC69-4286-B104-A2D977F8042F', N'F3C55992-42B9-43A6-B4BA-C785D1938FDD', N'D90F1552-7CB1-4611-879F-CFF2B676FA72', CAST(N'2024-08-05T00:00:00.000' AS DateTime), CAST(N'2024-08-11' AS Date), N'8:00 PM', 4, 1, N'F1', CAST(200.00 AS Decimal(10, 2)), N'Confirmed', N'Credit Card')
GO
INSERT [dbo].[Coupons] ([CouponID], [CouponCode], [DiscountAmount]) VALUES (N'30DD82FA-D8FF-4CE6-8473-232BC57C0D66', N'HOLIDAY100', CAST(100.00 AS Decimal(10, 2)))
INSERT [dbo].[Coupons] ([CouponID], [CouponCode], [DiscountAmount]) VALUES (N'945A0001-1ABC-415F-A049-8F2DC895B6C3', N'SAVE50', CAST(50.00 AS Decimal(10, 2)))
INSERT [dbo].[Coupons] ([CouponID], [CouponCode], [DiscountAmount]) VALUES (N'A838ACA6-713D-4D78-8AE3-876A9B00D8DD', N'NEWYEAR50', CAST(50.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentDate], [PaymentMethod], [TransactionID]) VALUES (N'00331382-8B91-4CE3-B2B6-8E068D5C24F5', N'3C2F608B-9DAE-40B8-B89F-E65F2713420C', CAST(200.00 AS Decimal(10, 2)), CAST(N'2024-08-01T00:00:00.000' AS DateTime), N'Google Pay', N'ED1A1860-3955-43D4-AC91-4B2CB047672E')
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentDate], [PaymentMethod], [TransactionID]) VALUES (N'03F8518F-3144-4EE2-87A9-DDD8631B6112', N'5131F1AB-EDA1-489D-A488-AAD299186795', CAST(600.00 AS Decimal(10, 2)), CAST(N'2024-08-10T00:00:00.000' AS DateTime), N'PhonePay', N'962F8406-287C-4355-9AE2-B41653D95F3D')
INSERT [dbo].[Payments] ([PaymentID], [BookingID], [Amount], [PaymentDate], [PaymentMethod], [TransactionID]) VALUES (N'0E5A1EB6-F2C1-4207-98C2-D4BAA28D8C53', N'EEE87727-F181-4516-8AE4-84655B1D6433', CAST(1200.00 AS Decimal(10, 2)), CAST(N'2024-08-01T00:00:00.000' AS DateTime), N'Paytm', N'2DAFF707-399E-4A2E-B57E-806681C88D02')
GO
INSERT [dbo].[Reviews] ([ReviewID], [UserID], [MovieID], [Rating], [Comment], [ReviewDate]) VALUES (N'0611B9D4-0D0A-4816-ADCE-305A2D31809F', N'D44C4405-E955-46E5-ABA2-42967BCF36C8', N'31BD7D4C-B4C4-44D3-9B96-F37720B1F95E', 5, N'Prabhas was amazing as Amarendra Baahubali.', CAST(N'2024-08-24T14:40:07.740' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [UserID], [MovieID], [Rating], [Comment], [ReviewDate]) VALUES (N'0DFFA809-CAE2-4C33-A9F1-1370DAC12BFA', N'2BC57594-3F0D-473E-B2D4-6829F4B8290D', N'BBC3A0F6-4FCE-4B4B-B261-80F56DDFCEB7', 4, N'A beautiful story of self-discovery.', CAST(N'2024-08-24T14:52:27.377' AS DateTime))
INSERT [dbo].[Reviews] ([ReviewID], [UserID], [MovieID], [Rating], [Comment], [ReviewDate]) VALUES (N'0E07FEF1-377C-448C-B5CB-96C0F7AEB647', N'0EC74B46-6419-4049-A24E-7B1E0DF6616E', N'7D7DD8D7-788D-4AD5-A385-36581CF02BD4', 4, N'Mind-blowing visuals and action.', CAST(N'2024-08-24T14:45:44.043' AS DateTime))
GO
INSERT [dbo].[Theatres] ([TheatreID], [Name], [Area], [Location], [Ratings], [Screens], [TotalSeats], [Image], [UpdatedAt]) VALUES (N'05B467B0-3788-4726-ADC1-415C079B73DB', N'Liberty Cinema', N'Delhi', N'https://maps.app.goo.gl/VQ2wiVrN4u1eDLdx7', 4.2, 1, 80, N'https://www.shutterstock.com/image-vector/theater-cinema-building-vector-easy-600nw-617664407.jpg
', CAST(N'2024-08-24T08:52:02.340' AS DateTime))
INSERT [dbo].[Theatres] ([TheatreID], [Name], [Area], [Location], [Ratings], [Screens], [TotalSeats], [Image], [UpdatedAt]) VALUES (N'1F5F85B4-56C3-40D1-AC54-0010766AEBA6', N'INOX', N'Mumbai', N'https://maps.app.goo.gl/Y5E4XeBSGmKKdg9R8', 4.4, 3, 80, N'https://img.freepik.com/free-vector/mobile-theater-building_1441-3091.jpg
', CAST(N'2024-08-24T08:52:02.340' AS DateTime))
INSERT [dbo].[Theatres] ([TheatreID], [Name], [Area], [Location], [Ratings], [Screens], [TotalSeats], [Image], [UpdatedAt]) VALUES (N'738C465F-3F3D-4EE8-AD1E-0E2D88CC79CE', N'Prasads IMAX', N'Hyderabad', N'https://maps.app.goo.gl/GBDucfAbtrUfrt2W7', 4.8, 4, 80, N'https://thumbs.dreamstime.com/b/theater-cinema-building-vector-easy-to-change-color-object-87801280.jpg
', CAST(N'2024-09-07T15:46:55.503' AS DateTime))
GO
INSERT [dbo].[Users] ([UserID], [FullName], [PasswordHash], [Email], [PhoneNumber], [SecurityQuestion], [SecurityAnswer], [Role], [UpdatedAt]) VALUES (N'0DF0AFEC-B326-4ED3-8094-7BE78F1EDC11', N'Sarah Brown', N'hash5', N'sarahbrown@example.com', N'5678901234', N'What was the name of your first employer?', N'McDonalds', N'User', CAST(N'2024-08-24T08:39:13.663' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [PasswordHash], [Email], [PhoneNumber], [SecurityQuestion], [SecurityAnswer], [Role], [UpdatedAt]) VALUES (N'0EC74B46-6419-4049-A24E-7B1E0DF6616E', N'Chris Wilson', N'hash6', N'chriswilson@example.com', N'6789012345', N'What is your favorite book?', N'To Kill a Mockingbird', N'User', CAST(N'2024-08-24T08:39:13.663' AS DateTime))
INSERT [dbo].[Users] ([UserID], [FullName], [PasswordHash], [Email], [PhoneNumber], [SecurityQuestion], [SecurityAnswer], [Role], [UpdatedAt]) VALUES (N'10DB1988-6957-4D42-8573-2439B71F6A6A', N'Tarun', N'65e14677e5d49dc73c7201a8cf111faa', N'6213111566f@gmail.com', N'6305843591', N'favorite_book', N'I dont give a fuck', N'Admin', CAST(N'2024-09-04T19:48:23.523' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Payments__55433A4AC60806B6]    Script Date: 9/10/2024 10:47:33 AM ******/
ALTER TABLE [dbo].[Payments] ADD UNIQUE NONCLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534CA47A072]    Script Date: 9/10/2024 10:47:33 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (CONVERT([varchar](36),newid())) FOR [BookingID]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [BookingDate]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (CONVERT([varchar](36),newid())) FOR [CouponID]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (CONVERT([varchar](36),newid())) FOR [MovieID]
GO
ALTER TABLE [dbo].[Movies] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (CONVERT([varchar](36),newid())) FOR [PaymentID]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (CONVERT([varchar](36),newid())) FOR [ReviewID]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [ReviewDate]
GO
ALTER TABLE [dbo].[TheatreMovies] ADD  DEFAULT (CONVERT([varchar](36),newid())) FOR [TheatreMovieID]
GO
ALTER TABLE [dbo].[Theatres] ADD  DEFAULT (CONVERT([varchar](36),newid())) FOR [TheatreID]
GO
ALTER TABLE [dbo].[Theatres] ADD  DEFAULT ((1)) FOR [Screens]
GO
ALTER TABLE [dbo].[Theatres] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([varchar](36),newid())) FOR [UserID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('User') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([TheatreID])
REFERENCES [dbo].[Theatres] ([TheatreID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TheatreMovies]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[TheatreMovies]  WITH CHECK ADD FOREIGN KEY([TheatreID])
REFERENCES [dbo].[Theatres] ([TheatreID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([NumberOfSeats]>(0)))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([TotalPrice]>=(0)))
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD CHECK  (([Duration]>(0)))
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(10)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Theatres]  WITH CHECK ADD CHECK  (([Ratings]>=(0) AND [Ratings]<=(5)))
GO
ALTER TABLE [dbo].[Theatres]  WITH CHECK ADD CHECK  (([TotalSeats]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[InsertBooking]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertBooking]
    @UserID VARCHAR(36),
    @MovieID VARCHAR(36),
    @TheatreID VARCHAR(36),
    @ShowDate DATE,
    @ShowTime VARCHAR(10),
    @ScreenNumber INT,
    @NumberOfSeats INT,
    @Seats VARCHAR(MAX),
	@Status VARCHAR(20),
    @TotalPrice DECIMAL(10, 2),
	@PaymentMethod VARCHAR(50),
    @NewBookingID VARCHAR(36) OUTPUT
AS
BEGIN
    -- Declare a table variable to capture the output
    DECLARE @InsertedIDs TABLE (BookingID VARCHAR(36));
    
    -- Insert the new booking and capture the BookingID
    INSERT INTO Bookings (UserID, MovieID, TheatreID, ShowDate, ShowTime, ScreenNumber, NumberOfSeats, Seats,Status, TotalPrice,PaymentMethod)
    OUTPUT Inserted.BookingID INTO @InsertedIDs
    VALUES (@UserID, @MovieID, @TheatreID, @ShowDate, @ShowTime, @ScreenNumber, @NumberOfSeats, @Seats,@Status, @TotalPrice,@PaymentMethod);
    
    -- Retrieve the BookingID from the table variable and set the output parameter
    SELECT @NewBookingID = BookingID FROM @InsertedIDs;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertMovie]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertMovie]
    @Title VARCHAR(100),
    @Genre VARCHAR(50),
    @Duration INT,
    @ReleaseDate DATE,
    @Rating FLOAT,
    @Likes INT,
    @Description VARCHAR(255),
    @Casting VARCHAR(100),
    @Trailer VARCHAR(500),
    @Language VARCHAR(20),
    @Image VARCHAR(1000)
AS
BEGIN
    INSERT INTO Movies ( Title, Genre, Duration, ReleaseDate, Rating, Likes, Description, Casting, Trailer, Language, Image)
    VALUES (@Title, @Genre, @Duration, @ReleaseDate, @Rating, @Likes, @Description, @Casting, @Trailer, @Language, @Image);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertPayment]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPayment]
    @BookingID VARCHAR(36),
    @Amount DECIMAL(10, 2),
    @PaymentMethod VARCHAR(50),
    @TransactionID VARCHAR(100)
AS
BEGIN
    INSERT INTO Payments (BookingID, Amount, PaymentMethod, TransactionID)
    VALUES (@BookingID, @Amount, @PaymentMethod, @TransactionID);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertReview]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertReview]
    @UserID VARCHAR(36),
    @MovieID VARCHAR(36),
    @Rating INT,
    @Comment VARCHAR(255)
    
AS
BEGIN
    INSERT INTO Reviews (UserID, MovieID, Rating, Comment)
    VALUES (@UserID, @MovieID, @Rating, @Comment);
    
   
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertTheatre]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTheatre]
    @Name VARCHAR(100),
    @Area VARCHAR(255),
    @Location VARCHAR(255),
    @Ratings FLOAT,
    @Screens INT,
    @TotalSeats INT,
    @Image VARCHAR(1000)
AS
BEGIN
    INSERT INTO Theatres (Name, Area, Location, Ratings, Screens, TotalSeats, Image)
    VALUES (@Name, @Area, @Location, @Ratings, @Screens, @TotalSeats, @Image);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertTheatreMovie]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertTheatreMovie]
    @TheatreID VARCHAR(36),
    @MovieID VARCHAR(36),
    @ScreenNumber INT,
    @ShowDate DATE,
    @ShowTimes VARCHAR(MAX),
    @AvailableSeats VARCHAR(20)
AS
BEGIN
    INSERT INTO TheatreMovies (TheatreID, MovieID, ScreenNumber, ShowDate, ShowTimes, AvailableSeats)
    VALUES (@TheatreID, @MovieID, @ScreenNumber, @ShowDate, @ShowTimes, @AvailableSeats);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 9/10/2024 10:47:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUser]
    @FullName VARCHAR(50),
    @PasswordHash VARCHAR(255),
    @Email VARCHAR(100),
    @PhoneNumber VARCHAR(15),
    @SecurityQuestion VARCHAR(200),
    @SecurityAnswer VARCHAR(100),
	@NewUserID VARCHAR(36) OUTPUT
AS
BEGIN
	 DECLARE @InsertedIDs TABLE (UserID VARCHAR(36));

    INSERT INTO Users (FullName, PasswordHash, Email, PhoneNumber, SecurityQuestion, SecurityAnswer)
    OUTPUT Inserted.UserID INTO @InsertedIDs
	VALUES (@FullName, @PasswordHash, @Email, @PhoneNumber, @SecurityQuestion, @SecurityAnswer);
    
    SELECT @NewUserID = UserID FROM @InsertedIDs;
END;
GO
USE [master]
GO
